mixin itemNumber(name,value,text,dataName)
  div(class=`${name}__item`)
    div(class=`${name}__text`)=text
    input(class=`${name}__input-number js-${name}__input-number` type="number", value=value data-key=dataName)
mixin itemChecked(name,flag,text,dataName)
  div(class=`${name}__item`)
    div(class=`${name}__text`)=text
    input(class=`${name}__input-checkbox js-${name}__input-checkbox` type="checkbox", checked=flag data-key=dataName)

mixin panel(className,min,max,step,leftValue,rightValue,isLabel,isScale,isDouble,isVertical)
  div(class=className)
    div(class=`${className}__panel`) 
      div(class=`${className}__plugin js-${className}__plugin`)
      div(class=`${className}__items`)
        div(class=`${className}__item-left js-${className}__item-left`)
          +itemNumber(className,min,'Min value:','min')
          +itemNumber(className,max,'Max value:','max')
          +itemNumber(className,step,'Step value:','step')
          +itemNumber(className,leftValue,'Left value:','valueLeft')
          +itemNumber(className,rightValue,'Right value:','valueRight')
        div(class=`${className}__item-right js-${className}__item-right`)
          +itemChecked(className,isLabel,'Label:','isLabel')
          +itemChecked(className,isScale,'Scale:','isScale')
          +itemChecked(className,isDouble,'Double:','isDouble')
          +itemChecked(className,isVertical,'Vertical:','isVertical')
div  