mixin panel(options = {})
  - 
    const { 
      className = 'slider-n1',
      leftList = [
        {value:-1000,text:'Min value:',dataName:'min'},
        {value:100,text:'Max value:',dataName:'max'},
        {value:1,text:'Step value:',dataName:'step'},
        {value:-500,text:'Left value:',dataName:'valueLeft'},
        {value:75,text:'Right value:',dataName:'valueRight'},
      ],
      rightList = [
        {isChecked:true,text:'Label:',dataName:'isLabel'},
        {isChecked:true,text:'Scale:',dataName:'isScale'},
        {isChecked:true,text:'Double:',dataName:'isDouble'},
        {isChecked:false,text:'Vertical:',dataName:'isVertical'},
      ]
    } = options;

  div(class=className)
    div(class=`${className}__panel`) 
      div(class=`${className}__plugin js-${className}__plugin`)
      div(class=`${className}__items`)
        div(class=`${className}__item-left js-${className}__item-left`)
          -for(let {value,text,dataName} of leftList)
            div(class=`${className}__item`)
              div(class=`${className}__text`)=text
              input(class=`${className}__input-number js-${className}__input-number` type="number", value=value data-key=dataName)
        div(class=`${className}__item-right js-${className}__item-right`)
          -for(let {isChecked,text,dataName} of rightList)
            div(class=`${className}__item`)
              div(class=`${className}__text`)=text
              input(class=`${className}__input-checkbox js-${className}__input-checkbox` type="checkbox", checked=isChecked data-key=dataName)
div 

