mixin itemNumber(name,value,text)
  div(class=`${name}__item`)
    div(class=`${name}__text`)=text
    input(class=`${name}__inputNumber` type="number", value=value data-min=0)
mixin itemChecked(name,flag,text)
  div(class=`${name}__item`)
    div(class=`${name}__text`)=text
    input(class=`${name}__inputCheckbox` type="checkbox", checked=flag)

mixin panel(className,min,max,step,leftValue,rightValue,isLabel,isScale,isDouble,isVertical)
  div(class=className)
    div(class=className+'__panel') 
      div(class=`${className}__plugin`)
      div(class=`${className}__items`)
        div(class=`${className}__itemLeft`)
          +itemNumber(className,min,'Min value:' )
          +itemNumber(className,max,'Max value:')
          +itemNumber(className,step,'Step value:')
          +itemNumber(className,leftValue,'Left value:')
          +itemNumber(className,rightValue,'Right value:')
        div(class=`${className}__itemRight`)
          +itemChecked(className,isLabel,'Label:')
          +itemChecked(className,isScale,'Scale:')
          +itemChecked(className,isDouble,'Double:')
          +itemChecked(className,isVertical,'Vertical:')
div  